.question-body{
    width:100%;
    height: 78%;
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    .question-text{
        width:90%;
        height: 20%;
         

    }

    

    .footer{
        width: 90%;
        height: 15%;
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}