.answer-box{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:660px){

    .answer-box{
        height: 45%;
    }
}