.answer-option{

    //width: 100%;
    //height: 25%;
     
    /*display: flex;*/

    .answer-container{

       // width: 100%;
       // height: 100%;
        
        /*display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;*/

        &.markGreen{
            background: #4caf50 !important ;
           
        }

        &.markRed{
            background: #d32f2f !important;
             
        }

        &:hover{
            background: #eee;
            cursor: pointer;
            
        }

        
    }
}

@media (max-width: 660px){

    .answer-option{

        .answer-container{
               
            &:hover{
                background: #fff;
                cursor: pointer;
            }

            .answer-text{
                h5{
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }

           


        }
    }
}